* {
    font-family: 'Lato', sans-serif;
}

body{
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: hsl(221, 45%, 47%);
}

.header {
    background-color: hsl(0, 0%, 90%);
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 3%;
}

h4 {
    margin-top: 20px;
}

/* Navbar components */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(221, 39%, 11%);
    margin-bottom: 20px;
    height: 3.5em;
}

.navbar .navbar-elem {
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    font-weight: 500;
}

.navbar .navbar-elem:hover {
    background-color: hsl(221, 45%, 47%);
    padding: 10px;
}

.navbar .navbar-left {
    flex: 1;
    margin-left: 10px;
    
}

.navbar .navbar-right {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

/* About */

.about {
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: hsl(0, 0%, 20%);
}

.profile-pic {
    width: 30%;
    flex-shrink: 0;
}

.para {
    width: 60%;
    text-align: justify;
    font-size: 18px;
}

h1{
    color: hsl(221, 39%, 11%);
}

header {
    padding: 10px;
}
p {
    padding: 5px;
}

.profimg {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.experience-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1%;
    border-style: solid;
    border-color: hsl(0, 0%, 70%);
    border-radius: 10px;
    padding: 20px;
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 96%);
}

.experience-card a {
    text-decoration: none;
    color: hsl(221, 45%, 47%);
    flex: 1;
}

.experience-card .experience-card-content {
    flex: 2;
    margin-left: 20px;
    text-align: left;
}

.experience-card .experience-card-title {
    font-style: italic;
}

.experience-card .experience-card-date {
    font-size: small;
}

.experience-card .experience-card-desc {
    margin-top: 10px;
}


/* Contact */
.contact {
    margin-left: 5%;
    margin-right: 5%;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5%;
  margin-top: -2%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.submit-button {
  background-color: hsl(131, 27%, 45%);
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%;
}

.submit-button:hover {
  background-color: hsl(221, 46%, 30%);
}

.form-result {
  margin-top: 10px;
  font-weight: bold;
  color: #28a745;
}


/* Project */

.project {
    margin-left: 5%;
    margin-right: 5%;
}

